<h1>Listing qrcodes</h1>

<table>
  <tr>
    <th>Cod qrcode</th>
    <th>Status</th>
  </tr>

<% @qrcodes.each do |qrcode| %>
  <tr>
    <td><%= qrcode.cod_qrcode %></td>
    <td><%= qrcode.status %></td>
  </tr>
<% end %>
</table>

<br />

