.login-div {
    background: none repeat scroll 0 0 black;
    border-radius: 15px 15px 15px 15px;
    color: white;
    height: 351px;
    margin: 20px auto;
    padding: 20px;
    width: 225px;
}
.container.body-wraper{
	margin-top: 40px;
}

body .modal {
    /* new custom width */
    width: auto !important;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -400px;
}
.btn.todas-posicoes-btn {
    margin: 0 0 12px;
}
button.btn {
    position: relative;
    top: -5px;
}